In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [53]:
#해당 파일을 읽어 df를 생성하세요(tips1.csv)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner   2.0
1         10.34  1.66    Male     No   Sun  Dinner   3.0
2         21.01  3.50    Male     No   Sun  Dinner   3.0
3         23.68  3.31    Male     No   Sun  Dinner   2.0
4         24.59  3.61  Female     No   Sun  Dinner   4.0
5         25.29  4.71    Male     No   Sun  Dinner   4.0
6          8.77  2.00    Male     No   Sun  Dinner   2.0
7         26.88  3.12    Male     No   Sun  Dinner   4.0
8         15.04  1.96    Male     No   Sun  Dinner   2.0
9         14.78  3.23    Male     No   Sun  Dinner   2.0
10        10.27  1.71    Male     No   Sun  Dinner   2.0
11        35.26  5.00  Female     No   Sun  Dinner   4.0
12        15.42  1.57    Male     No   Sun  Dinner   2.0
13        18.43  3.00    Male     No   Sun  Dinner   4.0
14        14.83  3.02  Female     No   Sun  Dinner   2.0
15        21.58  3.92    Male     No   Sun  Dinner   2.0
16        10.33  1.67  Female     No   Sun  Dinner   3.0
17        16.29  3.71    Male     No   Sun  Dinner   3.0
18        16.97  3.50  Female     No   Sun  Dinner   3.0
19        20.65  3.35    Male     No   Sat  Dinner   3.0
20        17.92  4.08    Male     No   Sat  Dinner   2.0
21        20.29  2.75  Female     No   Sat  Dinner   2.0
22        15.77  2.23  Female     No   Sat  Dinner   2.0
23        39.42  7.58    Male     No   Sat  Dinner   4.0
24        19.82  3.18    Male     No   Sat  Dinner   2.0
25        17.81  2.34    Male     No   Sat  Dinner   4.0
26        13.37  2.00    Male     No   Sat  Dinner   2.0
27        12.69  2.00    Male     No   Sat  Dinner   2.0
28        21.70  4.30    Male     No   Sat  Dinner   2.0
29        19.65  3.00  Female     No   Sat  Dinner   2.0
..          ...   ...     ...    ...   ...     ...   ...
215       12.90  1.10  Female    Yes   Sat  Dinner   2.0
216       28.15  3.00    Male    Yes   Sat  Dinner   5.0
217       11.59  1.50    Male    Yes   Sat  Dinner   2.0
218        7.74  1.44    Male    Yes   Sat  Dinner   2.0
219       30.14  3.09  Female    Yes   Sat  Dinner   4.0
220       12.16  2.20    Male    Yes   Fri   Lunch   2.0
221       13.42  3.48  Female    Yes   Fri   Lunch   2.0
222        8.58  1.92    Male    Yes   Fri   Lunch   1.0
223       15.98  3.00  Female     No   Fri   Lunch   3.0
224       13.42  1.58    Male    Yes   Fri   Lunch   2.0
225       16.27  2.50  Female    Yes   Fri   Lunch   2.0
226       10.09  2.00  Female    Yes   Fri   Lunch   2.0
227       20.45  3.00    Male     No   Sat  Dinner   4.0
228       13.28  2.72    Male     No   Sat  Dinner   2.0
229       22.12  2.88  Female    Yes   Sat  Dinner   2.0
230       24.01  2.00    Male    Yes   Sat  Dinner   4.0
231       15.69  3.00    Male    Yes   Sat  Dinner   3.0
232       11.61  3.39    Male     No   Sat  Dinner   2.0
233       10.77  1.47    Male     No   Sat  Dinner   2.0
234       15.53  3.00    Male    Yes   Sat  Dinner   2.0
235       10.07  1.25    Male     No   Sat  Dinner   2.0
236       12.60  1.00    Male    Yes   Sat  Dinner   2.0
237       32.83  1.17    Male    Yes   Sat  Dinner   2.0
238       35.83  4.67  Female     No   Sat  Dinner   3.0
239       29.03  5.92    Male     No   Sat  Dinner   3.0
240       27.18  2.00  Female    Yes   Sat  Dinner   2.0
241       22.67  2.00    Male    Yes   Sat  Dinner   2.0
242       17.82  1.75    Male     No   Sat  Dinner   2.0
243       18.78  3.00  Female     No  Thur  Dinner   2.0
244       25.34   NaN     NaN    NaN   NaN     NaN   NaN

[245 rows x 7 columns]

In [54]:
#tipdf의 차원을 조회하세요

2

In [55]:
#tipdf의 크기를 조회하세요(행, 열)

(245, 7)

In [57]:
#맨 마지막 데이터 3개을 조회하세요

     total_bill   tip     sex smoker   day    time  size
242       17.82  1.75    Male     No   Sat  Dinner   2.0
243       18.78  3.00  Female     No  Thur  Dinner   2.0
244       25.34   NaN     NaN    NaN   NaN     NaN   NaN

In [58]:
#df의 정보를 조회하세요

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 7 columns):
total_bill    245 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null float64
dtypes: float64(3), object(4)
memory usage: 13.5+ KB

In [59]:
#가장 팁이 높은 데이터 3개의 정보를 구하세요

     total_bill    tip   sex smoker  day    time  size
170       50.81  10.00  Male    Yes  Sat  Dinner   3.0
212       48.33   9.00  Male     No  Sat  Dinner   4.0
59        48.27   6.73  Male     No  Sat  Dinner   4.0

In [60]:
#tips_pct를 구해서 tipdf에 새로운 컬럼명으로 추가하세요 (tip / total_bill * 100)

     total_bill   tip     sex smoker   day    time  size  tips_pct
0         16.99  1.01  Female     No   Sun  Dinner   2.0  0.059447
1         10.34  1.66    Male     No   Sun  Dinner   3.0  0.160542
2         21.01  3.50    Male     No   Sun  Dinner   3.0  0.166587
3         23.68  3.31    Male     No   Sun  Dinner   2.0  0.139780
4         24.59  3.61  Female     No   Sun  Dinner   4.0  0.146808
5         25.29  4.71    Male     No   Sun  Dinner   4.0  0.186240
6          8.77  2.00    Male     No   Sun  Dinner   2.0  0.228050
7         26.88  3.12    Male     No   Sun  Dinner   4.0  0.116071
8         15.04  1.96    Male     No   Sun  Dinner   2.0  0.130319
9         14.78  3.23    Male     No   Sun  Dinner   2.0  0.218539
10        10.27  1.71    Male     No   Sun  Dinner   2.0  0.166504
11        35.26  5.00  Female     No   Sun  Dinner   4.0  0.141804
12        15.42  1.57    Male     No   Sun  Dinner   2.0  0.101816
13        18.43  3.00    Male     No   Sun  Dinner   4.0  0.162778
14        14.83  3.02  Female     No   Sun  Dinner   2.0  0.203641
15        21.58  3.92    Male     No   Sun  Dinner   2.0  0.181650
16        10.33  1.67  Female     No   Sun  Dinner   3.0  0.161665
17        16.29  3.71    Male     No   Sun  Dinner   3.0  0.227747
18        16.97  3.50  Female     No   Sun  Dinner   3.0  0.206246
19        20.65  3.35    Male     No   Sat  Dinner   3.0  0.162228
20        17.92  4.08    Male     No   Sat  Dinner   2.0  0.227679
21        20.29  2.75  Female     No   Sat  Dinner   2.0  0.135535
22        15.77  2.23  Female     No   Sat  Dinner   2.0  0.141408
23        39.42  7.58    Male     No   Sat  Dinner   4.0  0.192288
24        19.82  3.18    Male     No   Sat  Dinner   2.0  0.160444
25        17.81  2.34    Male     No   Sat  Dinner   4.0  0.131387
26        13.37  2.00    Male     No   Sat  Dinner   2.0  0.149589
27        12.69  2.00    Male     No   Sat  Dinner   2.0  0.157604
28        21.70  4.30    Male     No   Sat  Dinner   2.0  0.198157
29        19.65  3.00  Female     No   Sat  Dinner   2.0  0.152672
..          ...   ...     ...    ...   ...     ...   ...       ...
215       12.90  1.10  Female    Yes   Sat  Dinner   2.0  0.085271
216       28.15  3.00    Male    Yes   Sat  Dinner   5.0  0.106572
217       11.59  1.50    Male    Yes   Sat  Dinner   2.0  0.129422
218        7.74  1.44    Male    Yes   Sat  Dinner   2.0  0.186047
219       30.14  3.09  Female    Yes   Sat  Dinner   4.0  0.102522
220       12.16  2.20    Male    Yes   Fri   Lunch   2.0  0.180921
221       13.42  3.48  Female    Yes   Fri   Lunch   2.0  0.259314
222        8.58  1.92    Male    Yes   Fri   Lunch   1.0  0.223776
223       15.98  3.00  Female     No   Fri   Lunch   3.0  0.187735
224       13.42  1.58    Male    Yes   Fri   Lunch   2.0  0.117735
225       16.27  2.50  Female    Yes   Fri   Lunch   2.0  0.153657
226       10.09  2.00  Female    Yes   Fri   Lunch   2.0  0.198216
227       20.45  3.00    Male     No   Sat  Dinner   4.0  0.146699
228       13.28  2.72    Male     No   Sat  Dinner   2.0  0.204819
229       22.12  2.88  Female    Yes   Sat  Dinner   2.0  0.130199
230       24.01  2.00    Male    Yes   Sat  Dinner   4.0  0.083299
231       15.69  3.00    Male    Yes   Sat  Dinner   3.0  0.191205
232       11.61  3.39    Male     No   Sat  Dinner   2.0  0.291990
233       10.77  1.47    Male     No   Sat  Dinner   2.0  0.136490
234       15.53  3.00    Male    Yes   Sat  Dinner   2.0  0.193175
235       10.07  1.25    Male     No   Sat  Dinner   2.0  0.124131
236       12.60  1.00    Male    Yes   Sat  Dinner   2.0  0.079365
237       32.83  1.17    Male    Yes   Sat  Dinner   2.0  0.035638
238       35.83  4.67  Female     No   Sat  Dinner   3.0  0.130338
239       29.03  5.92    Male     No   Sat  Dinner   3.0  0.203927
240       27.18  2.00  Female    Yes   Sat  Dinner   2.0  0.073584
241       22.67  2.00    Male    Yes   Sat  Dinner   2.0  0.088222
242       17.82  1.75    Male     No   Sat  Dinner   2.0  0.098204
243       18.78  3.00  Female     No  Thur  Dinner   2.0  0.159744
244       25.34   NaN     NaN    NaN   NaN     NaN   NaN       NaN

[245 rows x 8 columns]

In [62]:
#성별, 팁비율별로 정렬하여 팁 비율이 높은 정보 3개 출력

     total_bill   tip   sex smoker  day    time  size  tips_pct
172        7.25  5.15  Male    Yes  Sun  Dinner   2.0  0.710345
232       11.61  3.39  Male     No  Sat  Dinner   2.0  0.291990
183       23.17  6.50  Male    Yes  Sun  Dinner   4.0  0.280535

In [63]:
#male 정보를 따로 분리해서 크기 정보 조회

(157, 8)

In [64]:
#Female 정보를 따로 분리해서 크기 정보 조회

(87, 8)

In [65]:
#각 row별 na값 갯수 count

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
215    0
216    0
217    0
218    0
219    0
220    0
221    0
222    0
223    0
224    0
225    0
226    0
227    0
228    0
229    0
230    0
231    0
232    0
233    0
234    0
235    0
236    0
237    0
238    0
239    0
240    0
241    0
242    0
243    0
244    7
Length: 245, dtype: int64